<script> var product = <%- JSON.stringify(product[0]) %>; </script>
<link rel="stylesheet" href="css/client/product.css" />
<script src="js/client/product.js"></script>

<% include sidebar.ejs %>

<br class="visible-xs">
<br class="visible-xs">
<br class="visible-xs">
<div class="container col-sm-8 col-md-9">
	<div id="box">
		<div class='slider col-sm-8 col-md-5 col-xs-12'>
			<div class="slide-container" index="0" count="0" loaded="0">
				<div class="slide-controller right">
					<button onclick="controll(1)"><i class="fa fa-caret-right fa-3x"></i></button>
				</div>
				<div class="slide-controller left">
					<button onclick="controll(-1)"><i class="fa fa-caret-left fa-3x"></i></button>
				</div>
				<div class="hidden-xs slide-circles"></div>
				<div class="slide"></div>
				<div class="slide-thumbnails"></div>
			</div>
		</div>

		<section class="col-sm-4 col-md-6 col-md-offset-1 col-xs-12"> <!-- Right side -->
			<br><br>
			<h1 class="product" productid="<%= product[0].id %>"><%= product[0].name %> <a class="heart" onclick="heartItem($(this))" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a></h1>

			<label for="color">FÄRG</label>
			<span id="color"><span class="selected" value="0">ONE COLOR</span></span>
			<br>
			<label for="color">STORLEK</label>
			<span id="size"><span class="selected" value="0">ONE SIZE</span></span>
			<br>
			<label for="info">INFO</label>
			<p name="info"><%= product[0].info %></p>

			<div id="stock" value="<%=product[0].stock%>">
				<% if(product[0].stock > 0) { %>
					<button productid="" class="btn btn-link sharp" type="button" onclick="varukorg()">
						LÄGG TILL I VARUKORG <i class="fa fa-plus"></i></button>

					<% } else { %>
						<p class="danger">Slut i lager</p>
						<% } %>
					</div>

		</section>

		<script>
			function varukorg(){
				var c = $('#varukorgCount');
			  c.text(Number(c.text())+1);
				var data = {
					id: product.id,
					color: $('#color>span.selected').attr('value'),
					size: $('#size>span.selected').attr('value'),
					name: product.name,
					stock: product.stock,
					price: product.price,
					image: product.images.split(',')[0],
					info: product.info
				};

				addToBasket(data);
			}
		</script>

	</div>
</div>
